@media (max-width: 1441px) {
    .splitview{
        min-height: 350px;
    }

    .logos{
        width: 80px;
    }

    .subscribeTitle {
        font-size: 1.10rem;
    }

    .subscribeEmail {
        width: 300px;
    }

    .storeMap iframe {
        width: 750px;
        height: 450px;
    }
}

@media (max-width: 1367px) {
    .skewed .handle {
        margin-left: 5%;
    }

    .subscribeEmail {
        width: 295px;
    }
}

@media (max-width: 1281px) {
    .subscribeTitle {
        font-size: 1rem;
    }

    .subscribeEmail {
        width: 270px;
    }
}


@media (max-width: 1025px) {
  
    header{
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: white;
        z-index: 2;
    }

    .splitview {
        min-height: 265px;
    }

    .bannerTop{
        display: none;
    }

    .bannerBottom{
        display: none;
    }

    main{
        padding-top: 80px;
    }

    .menuLabel {
        display: flex;
        order: 2;
        cursor: pointer;
        filter: invert(1);
    }
  
    .menuLabel img {
        height: 25px;
        width: 25px;
    }

    .panelUser{
        width: 50%;
    }

    .navbar {
        height: 80px;
        gap: 10px;
        justify-content: space-around;
        background-color: white;
    }

    .navbarList {
        position: absolute;
        top: -330px;
        width: 100%;
        flex-direction: column;
        background: lightgray var(--header-bg-color);
        border: 2px solid white;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 30px 30px;
        gap: 25px;
        z-index: 2;
        display: flex;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }

    .navbar-list a {
        font-size: 18px;
    }

    .imageProductFilter {
        height: 100px;
    }

    .cartContainer{
        top: 80px;
    }

    .openCart{
        top: 80px;
    }

    .cartOption {
        width: 25%;
    }

    .openMenu {
        opacity: 1;
        top: 80px;
        z-index: 0;
    }

    .overlay{
        top: 80px;
        z-index: 0;
        height: 880vh;
    }

    .filterProducts p {
        font-size: 24px;
    }

    .storeMap iframe {
        width: 500px;
        height: 400px;
    }

    .subscribeTitle {
        font-size: 0.8rem;
    }

    .subscribeEmail {
        width: 175px;
        font-size: 0.8rem;
    }

    .subscribeButton {
        font-size: 0.8rem;
    }

    .linkHelp {
        font-size: 0.8rem;
    }

    .linkCompany {
        font-size: 0.8rem;
    }

    .socialLogos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

}

@media (max-width: 811px){
    .splitview {
        min-height: 210px;
    }

    .storeInfo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .storeMap {
        margin-top: 50px;
    }

    footer {
        margin-top: 200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .splitview {
        min-height: 200px;
    }

    .heroTitle {
        font-size: 36px;
    }
}

@media (max-width: 721px){
    .splitview {
        min-height: 185px;
    }
}

@media (max-width: 577px){
    .splitview {
        min-height: 150px;
    }

    .heroTitle {
        font-size: 26px;
    }
}

@media (max-width: 481px){
    .splitview {
        min-height: 120px;
    }

    .heroTitle {
        font-size: 36px;
    }

    .logoCompany {
        height: 25px;
    }

    .panel {
        margin-left: 50px;
      }

    .heroTitle {
        font-size: 16px;
    }

    .filterProducts {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 5%;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }

    .imageProductFilter {
        height: 40px;
    }

    .filterProducts p {
        font-size: 16px;
    }

    .productsTitle {
        font-size: 26px;
    }

    .galleryTitle {
        font-size: 26px;
    }

    .gallerySubtitle {
        font-size: 20px;
    }

    .storeTitle {
        font-size: 26px;
    }

    .storeSubtitle {
        font-size: 20px;
    }

    .storeMap iframe {
        width: 350px;
        height: 350px;
    }

    .container {
        display: flex;
        width: 100%;
        padding: 4% 2%;
        box-sizing: border-box;
        height: 100vh;
        flex-direction: column;
    }

    .box > img {
        width: 200%;
        height: calc(100% - 7vh);
        object-fit: cover;
        transition: .5s;
        margin-top: 10px;
    }

    .box > span {
        font-size: 2.8vh;
        display: block;
        text-align: center;
        height: 5vh;
        line-height: 2;
    }

    .accountOption {
        display: flex;
        width: 108%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        font-size: 12px;
    }

    .lineAnimated {
        padding-bottom: 0.35em;
    }

    .category {
        background: none;
        border: none;
        padding: 3%;
    }

    .box > span {
        font-size: 2.8vh;
        display: block;
        text-align: center;
        height: 5vh;
        line-height: 1;
    }
    
    .cartOption {
        width: 17%;
    }
}

@media (max-width: 411px){
    .splitview {
        min-height: 105px;
    }
}


@media (max-width: 376px) {
    .splitview {
        min-height: 95px;
    }

    .panel {
        margin-left: 0px;
    }

    .imageProductFilter {
        height: 50px;
    }

    .filterProducts p {
        font-size: 14px;
    }
}

@media (max-width: 376px) {
    .splitview {
        min-height: 95px;
    }

    .panel {
        margin-left: 0px;
    }

    .imageProductFilter {
        height: 40px;
    }

    .filterProducts p {
        font-size: 12px;
    }
}